.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: #1a1b1f;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 44px;
  font-weight: 400;
  line-height: 62px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 400;
  line-height: 46px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 34px;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}

p {
  margin-bottom: 10px;
}

a {
  color: #1a1b1f;
  text-decoration: underline;
  transition: opacity .2s;
  display: block;
}

a:hover {
  color: #32343a;
}

a:active {
  color: #43464d;
}

ul {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 40px;
  list-style-type: disc;
}

li {
  margin-bottom: 10px;
}

img {
  display: block;
}

label {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

blockquote {
  border-left: 5px solid #e2e2e2;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px 30px;
  font-size: 20px;
  line-height: 34px;
}

figcaption {
  opacity: 1;
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
  line-height: 26px;
}

.divider {
  height: 1px;
  background-color: #eee;
}

.styleguide-content-wrap {
  text-align: center;
}

.section {
  margin-left: 30px;
  margin-right: 30px;
}

.section.cc-cta {
  background-color: #f4f4f4;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
}

.section.hide {
  display: none;
}

.styleguide-block {
  text-align: left;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
  display: block;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.paragraph-tiny {
  font-size: 12px;
  line-height: 20px;
}

.paragraph-bigger {
  opacity: 1;
  margin-bottom: 10px;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 34px;
}

.paragraph-bigger.cc-bigger-light {
  opacity: .6;
}

.button {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  border-radius: 0;
  padding: 12px 25px;
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
  transition: background-color .4s, opacity .4s, color .4s;
}

.button:hover {
  color: #fff;
  background-color: #32343a;
}

.button:active {
  background-color: #43464d;
}

.button.cc-jumbo-button {
  padding: 16px 35px;
  font-size: 14px;
  line-height: 26px;
}

.button.cc-contact-us {
  z-index: 5;
  position: relative;
}

.button.cc-white-button {
  color: #202020;
  background-color: #fff;
  padding: 16px 35px;
  font-size: 14px;
  line-height: 26px;
}

.button.cc-white-button:hover {
  background-color: rgba(255, 255, 255, .8);
}

.button.cc-white-button:active {
  background-color: rgba(255, 255, 255, .9);
}

.button.hide {
  display: none;
}

.label {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
}

.label.cc-styleguide-label {
  margin-bottom: 25px;
}

.label.cc-light {
  opacity: .6;
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

.label.cc-blog-date {
  opacity: .6;
  margin-top: 20px;
}

.heading-jumbo-tiny {
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}

.rich-text {
  width: 70%;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.rich-text p {
  opacity: .6;
  margin-top: 15px;
  margin-bottom: 25px;
}

.rich-text figcaption {
  opacity: .6;
}

.rich-text figure {
  margin-top: 25px;
  padding-bottom: 20px;
}

.paragraph-light {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.paragraph-light.hide {
  display: none;
}

.paragraph-light.opacity60 {
  opacity: .6;
}

.heading-jumbo {
  text-transform: none;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Poppins, sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
}

.heading-jumbo.hide {
  display: none;
}

.heading-jumbo-small {
  text-transform: none;
  margin-top: 10px;
  margin-bottom: 40px;
  font-family: Opensans, sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 50px;
}

.styleguide-button-wrap {
  margin-top: 10px;
  margin-bottom: 10px;
}

.styleguide-header-wrap {
  height: 460px;
  color: #fff;
  text-align: center;
  background-color: #1a1b1f;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  display: flex;
}

.paragraph-small {
  font-size: 14px;
  line-height: 26px;
}

.logo-link {
  z-index: 1;
}

.logo-link:hover {
  opacity: .8;
}

.logo-link:active {
  opacity: .7;
}

.menu {
  z-index: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.navigation-wrap {
  flex: 1;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
}

.navigation {
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
  padding: 10px 50px;
  display: flex;
}

.navigation-item {
  opacity: .6;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-top: 9px;
  padding-bottom: 9px;
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
}

.navigation-item:hover {
  opacity: .9;
}

.navigation-item:active {
  opacity: .8;
}

.navigation-item.w--current {
  opacity: 1;
  color: #1a1b1f;
  font-family: Poppins, sans-serif;
  font-weight: 700;
}

.navigation-item.w--current:hover {
  opacity: .8;
  color: #32343a;
}

.navigation-item.w--current:active {
  opacity: .7;
  color: #32343a;
}

.logo-image {
  display: block;
}

.navigation-items {
  flex: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer-wrap {
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
}

.webflow-link {
  opacity: .5;
  align-items: center;
  text-decoration: none;
  transition: opacity .4s;
  display: flex;
}

.webflow-link:hover {
  opacity: 1;
}

.webflow-link:active {
  opacity: .8;
}

.webflow-logo-tiny {
  margin-top: -2px;
  margin-right: 8px;
}

.cta-text {
  width: 70%;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
}

.cta-wrap {
  text-align: center;
  justify-content: center;
  padding-top: 110px;
  padding-bottom: 120px;
  display: flex;
}

.intro-header {
  height: 620px;
  color: #fff;
  background-color: #f4f4f4;
  background-image: url('../images/portfolio-4---wide.svg');
  background-position: 0 0;
  background-size: cover;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  display: flex;
}

.intro-header.cc-subpage {
  height: 480px;
  color: #fff;
  background-color: #000;
  background-image: url('../images/Icon-2.svg');
  background-position: 50%;
  background-size: cover;
}

.intro-header.cc-subpage.contactimgbanner {
  background-image: url('../images/1---Capa-.png');
}

.intro-header.cc-subpage.boardimagebanner {
  background-image: url('../images/1---Capa-Board.png');
}

.intro-header.cc-subpage.o-quefazemosbanner {
  background-image: url('../images/1---Capa-_-O-que-fazemos.png');
}

.intro-header.cc-subpage.quemsomos {
  background-image: url('../images/1---Capa-_-Quem-Somos.png');
}

.intro-content {
  width: 70%;
  max-width: 1140px;
  text-align: center;
}

.intro-content.cc-homepage {
  margin-bottom: 20px;
}

.motto-wrap {
  width: 80%;
  text-align: center;
  margin-bottom: 85px;
  margin-left: auto;
  margin-right: auto;
}

.about-story-wrap {
  width: 80%;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin: 80px auto;
  display: flex;
}

.our-services-grid {
  grid-column-gap: 80px;
  grid-row-gap: 60px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: ". . ."
                       ". . .";
  margin-bottom: 120px;
}

.section-heading-wrap {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.service-icon {
  margin-bottom: 30px;
}

.status-message {
  color: #fff;
  text-align: center;
  background-color: #202020;
  padding: 9px 30px;
  font-size: 14px;
  line-height: 26px;
}

.status-message.cc-success-message {
  background-color: #12b878;
}

.status-message.cc-error-message {
  background-color: #db4b68;
}

.status-message.cc-no-data {
  width: 70%;
  margin: 100px auto;
  display: block;
}

.contact-form-wrap {
  border: 1px solid #eee;
  padding: 45px 50px 50px;
}

.contact-form-grid {
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  grid-template: ". ."
  / 2.5fr 1fr;
  align-items: start;
  margin-top: 100px;
  margin-bottom: 100px;
}

.details-wrap {
  margin-bottom: 30px;
}

.details-wrap.hide {
  display: none;
}

.get-in-touch-form {
  flex-direction: column;
  display: flex;
}

.text-field {
  border: 1px solid #e4e4e4;
  border-radius: 0;
  margin-bottom: 18px;
  padding: 21px 20px;
  font-size: 14px;
  line-height: 26px;
  transition: border-color .4s;
}

.text-field:hover {
  border-color: #e3e6eb;
}

.text-field:active, .text-field:focus {
  border-color: #43464d;
}

.text-field::-ms-input-placeholder {
  color: rgba(50, 52, 58, .4);
}

.text-field::placeholder {
  color: rgba(50, 52, 58, .4);
}

.text-field.cc-contact-field {
  margin-bottom: 25px;
}

.text-field.cc-textarea {
  height: 200px;
  padding-top: 12px;
}

.contact-form {
  width: 100%;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.contact-form-heading-wrap {
  margin-bottom: 40px;
}

.contact-heading {
  margin-top: 0;
  margin-bottom: 15px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
}

.map {
  height: 460px;
  margin-bottom: 100px;
  line-height: 20px;
}

.contact-team-name-wrap {
  margin-bottom: 30px;
}

.our-contacts {
  grid-column-gap: 80px;
  grid-row-gap: 60px;
  text-align: center;
  grid-template: ". . ."
  / 1fr 1fr 1fr;
  margin-bottom: 120px;
}

.contact-team-details-wrap {
  margin-top: 30px;
}

.contact-team-pic {
  height: 150px;
  background-color: #f4f4f4;
  margin-bottom: 30px;
}

.contact-team-pic._1 {
  height: 300px;
  background-image: url('../images/2---Ivan-Presidência.jpg');
  background-position: 50%;
  background-size: cover;
}

.contact-team-pic._2 {
  height: 300px;
  background-image: url('../images/3---Juliana-.jpg');
  background-position: 100%;
  background-size: cover;
}

.contact-team-pic._3 {
  height: 300px;
  background-image: url('../images/4---Erika---Financeiro-.jpg');
  background-position: 50%;
  background-size: cover;
}

.team-pic {
  width: 250px;
  height: 350px;
  background-color: #f4f4f4;
  margin-bottom: 40px;
}

.team-pic.larissa {
  background-image: url('../images/Larissa---Gestão-de-Projetos-1.jpg');
  background-position: 50% 0;
  background-size: cover;
}

.team-pic.cristiana {
  background-image: url('../images/Cristiana---Comunicação.jpg');
  background-position: 50%;
  background-size: cover;
}

.team-pic.myriam {
  background-image: url('../images/Myriam---Relações-Institucionais-.jpg');
  background-position: 50%;
  background-size: cover;
}

.team-pic.tatiana {
  background-image: url('../images/Tatiana-Takimoto---Pessoas-e-Diversidade.jpg');
  background-position: 50%;
  background-size: cover;
}

.team-members {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: 1fr 1fr;
  align-content: start;
  margin-bottom: 60px;
  padding-left: 60px;
  padding-right: 60px;
}

.team-member-title-wrap {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  display: flex;
}

.team-member-name {
  opacity: 1;
  margin-bottom: 5px;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 34px;
}

.projects-grid {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template: "."
                 "."
                 "."
                 / 1fr;
  margin-bottom: 60px;
}

.project-name-wrap {
  width: 100%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  display: flex;
}

.project-name-link {
  margin-bottom: 5px;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 34px;
  text-decoration: none;
}

.project-name-link:hover {
  opacity: .8;
}

.project-name-link:active {
  opacity: .7;
}

.project-cover-link {
  margin-bottom: 40px;
}

.project-cover-link:hover {
  opacity: .8;
}

.project-cover-link:active {
  opacity: .7;
}

.project-overview-header {
  height: 620px;
  color: #fff;
  background-color: #f4f4f4;
  background-image: url('../images/portfolio-1---wide.svg');
  background-position: 50%;
  background-size: cover;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  display: flex;
}

.project-overview-header.cc-project-2-header {
  background-image: url('../images/portfolio-2---wide.svg');
  background-position: 50%;
}

.project-overview-header.cc-project-3-header {
  background-image: url('../images/portfolio-3---wide.svg');
  background-size: cover;
}

.project-details-grid {
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  grid-template: ". ."
  / 1fr 2fr;
  align-items: start;
  margin-top: 100px;
  margin-bottom: 100px;
}

.project-pics {
  margin-bottom: 120px;
}

.detail-image {
  width: 100%;
  margin-bottom: 30px;
}

.blog-detail-header-wrap {
  width: 70%;
  margin: 60px auto;
}

.detail-header-image {
  width: 100%;
  height: 620px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0 0;
  background-size: cover;
  margin-bottom: 60px;
  display: block;
}

.detail-header-image.w--current {
  margin-bottom: 60px;
}

.blog-list-wrap {
  margin-bottom: 100px;
}

.blog-item {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.blog-preview-image {
  width: 100%;
  height: 620px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0 0;
  background-size: cover;
  margin-bottom: 45px;
  transition: opacity .6s;
  display: block;
}

.blog-preview-image:hover {
  opacity: .8;
}

.blog-preview-image:active {
  opacity: .7;
}

.blog-summary-wrap {
  width: 70%;
  text-align: left;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.blog-heading-link {
  margin-bottom: 10px;
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 46px;
  text-decoration: none;
}

.blog-heading-link:hover {
  opacity: .8;
}

.blog-heading-link:active {
  opacity: .7;
}

.contact-email-link {
  opacity: .6;
  margin-bottom: 5px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

.contact-email-link:hover {
  opacity: 1;
}

.contact-email-link:active {
  opacity: .8;
}

.protected-form {
  flex-direction: column;
  display: flex;
}

.protected-wrap {
  justify-content: center;
  padding-top: 90px;
  padding-bottom: 100px;
  display: flex;
}

.protected-heading {
  margin-bottom: 30px;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 30px;
  display: flex;
}

._404-wrap {
  width: 100%;
  height: 100%;
  background-color: #1a1b1f;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  display: flex;
}

._404-content-wrap {
  margin-bottom: 20px;
}

.home-content-wrap {
  margin-top: 80px;
  margin-bottom: 120px;
}

.home-section-wrap {
  margin-bottom: 30px;
}

.section-heading {
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
}

.about-grid {
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  grid-template: ". ."
  / 1fr 2fr;
  align-items: center;
  margin-bottom: 0;
}

.about-grid.cc-about-2 {
  grid-template-columns: 2fr 1fr;
  grid-template-areas: ". .";
}

.about-grid.cc-about-2.hide {
  display: none;
}

.intro-text {
  width: 80%;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
}

.collection-wrap {
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
}

.work-heading {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 400;
}

.blog-heading {
  text-align: center;
  margin-bottom: 60px;
}

.blog-preview-wrap {
  width: 33.33%;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 45px;
}

.collection-list-wrapper {
  margin-bottom: 120px;
}

.business-article-heading {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 500;
  line-height: 38px;
  text-decoration: none;
}

.business-article-heading:hover {
  opacity: .8;
}

.business-article-heading:active {
  opacity: .7;
}

.features-table {
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container-2 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.comparison-table {
  flex-direction: column;
  margin-top: 50px;
  display: flex;
}

.comparison-row {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-bottom: 1px solid #e4ebf3;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-top: 24px;
  padding-bottom: 24px;
  display: grid;
}

.comparison-row.onecolumn {
  grid-template-columns: 1fr;
}

.comparison-positive {
  margin-left: 24px;
  padding-left: 40px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

.image {
  width: 100%;
  height: 500px;
}

.image.imgcontact {
  height: 480px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.footer-dark {
  border-bottom: 1px solid #e4ebf3;
  padding: 50px 30px 15px;
  position: relative;
}

.footer-wrapper {
  max-width: 900px;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footer-content {
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  grid-auto-columns: 1fr;
  display: grid;
}

.footer-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.title-small {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.footer-link {
  color: #1a1b1f;
  margin-top: 12px;
  margin-bottom: 6px;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
}

.footer-link:hover {
  color: rgba(26, 27, 31, .75);
}

.footer-link.hide {
  display: none;
}

.footer-social-block {
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
  margin-left: -12px;
  display: flex;
}

.footer-social-link {
  margin-left: 12px;
}

.footer-divider {
  width: 100%;
  height: 1px;
  background-color: #e4ebf3;
  margin-top: 70px;
  margin-bottom: 15px;
}

.footer-copyright-center {
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.gridimgs {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-bottom: 60px;
  display: grid;
}

.cell {
  min-height: 350px;
  background-image: url('../images/portfolio-1---wide.svg');
  background-position: 50%;
  background-size: cover;
}

.cell._1 {
  background-image: url('../images/1---GRID.jpg');
}

.cell._2 {
  background-image: url('../images/2---GRID.jpg');
}

.cell._3 {
  background-image: url('../images/3---GRID.jpg');
}

.cell._4 {
  background-image: url('../images/4---GRID.jpg');
}

.cell._5 {
  background-image: url('../images/5---GRID.jpg');
}

.cell._6 {
  background-image: url('../images/6---GRID.jpg');
}

.heading, .heading-2 {
  font-family: Poppins, sans-serif;
  font-weight: 700;
}

.heading-2.missao {
  margin-bottom: 60px;
}

.heading-3 {
  font-family: Poppins, sans-serif;
  font-weight: 700;
}

.text-block {
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

.field-label, .field-label-2, .field-label-3 {
  font-family: Poppins, sans-serif;
}

.heading-4, .heading-5, .heading-6 {
  font-family: Poppins, sans-serif;
  font-weight: 700;
}

.features-list {
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container-3 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.features-wrapper-two {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.features-left {
  max-width: 40%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.features-paragraph {
  margin-bottom: 24px;
  font-family: Opensans, sans-serif;
  font-size: 16px;
}

.text-link-arrow {
  color: #1a1b1f;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
}

.arrow-embed {
  margin-left: 2px;
  display: flex;
}

.features-right {
  max-width: 46%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: -16px;
  display: flex;
}

.features-block-two {
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
  display: flex;
}

.features-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 16px;
}

.heading-7 {
  font-family: Poppins, sans-serif;
  font-weight: 700;
}

.text-block-2, .paragraph, .paragraph-2, .paragraph-3 {
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

.hero-heading-right {
  border-bottom: 1px solid #e4ebf3;
  padding: 0 30px 80px;
  position: relative;
}

.hero-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero-split {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 40px;
  display: flex;
}

.hero-split.right {
  max-width: 30%;
}

.shadow-two {
  box-shadow: 0 4px 24px rgba(150, 163, 181, .08);
}

.margin-bottom-24px {
  margin-bottom: 24px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.button-primary.hide {
  display: none;
}

.heading-8 {
  font-family: Poppins, sans-serif;
  font-weight: 700;
}

.image-2 {
  width: 150px;
}

.heading-9 {
  font-family: Poppins, sans-serif;
  font-weight: 700;
}

.link-block, .link-block-2, .link-block-3 {
  text-decoration: none;
}

.div-block {
  height: 500px;
  background-image: url('../images/Nossa-História.jpg');
  background-position: 50%;
  background-size: cover;
}

.slider {
  height: 600px;
  margin-top: 0;
  display: block;
}

.slide.capa {
  background-image: url('../images/1---Carrossel-Capa-Website-USBEA-Brasil-.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  padding-top: 0;
  padding-left: 715px;
}

.slide.slide2 {
  background-image: url('../images/1.2---Carrossel_.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 48px;
  padding-left: 67px;
}

.slide.slide3 {
  background-image: url('../images/2---Carrossel_.jpg'), url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50%, 0 0;
  background-size: cover, 125px;
  transition: all .2s;
}

.slide4 {
  background-image: url('../images/3---Carrossel_.jpg');
  background-position: 50%;
  background-size: cover;
}

.slide5 {
  background-image: url('../images/5---Carrossel-_.jpg');
  background-position: 50%;
  background-size: cover;
}

.slide6 {
  background-image: url('../images/6---Carrossel_.jpg');
  background-position: 50%;
  background-size: cover;
}

.slide7 {
  background-image: url('../images/7---Carrossel_.jpg');
  background-position: 50%;
  background-size: cover;
}

@media screen and (max-width: 991px) {
  .section.cc-cta {
    padding-left: 0;
    padding-right: 0;
  }

  .styleguide-block {
    text-align: center;
  }

  .button {
    justify-content: center;
  }

  .button.cc-contact-us {
    display: none;
  }

  .heading-jumbo {
    font-size: 56px;
    line-height: 70px;
  }

  .logo-link.w--current {
    flex: 1;
  }

  .menu-icon {
    display: block;
  }

  .menu {
    margin-left: 30px;
    position: static;
  }

  .navigation-wrap {
    background-color: #fff;
  }

  .navigation {
    padding: 25px 30px;
  }

  .navigation-item {
    text-align: center;
    padding: 15px 30px;
    transition: background-color .4s, opacity .4s, color .4s;
  }

  .navigation-item:hover {
    background-color: #f7f8f9;
  }

  .navigation-item:active {
    background-color: #eef0f3;
  }

  .menu-button {
    padding: 0;
  }

  .menu-button.w--open {
    background-color: rgba(0, 0, 0, 0);
  }

  .navigation-items {
    background-color: #fff;
  }

  .cta-text {
    width: auto;
  }

  .cta-wrap {
    width: auto;
    padding: 80px 50px 90px;
  }

  .our-services-grid {
    width: 80%;
    text-align: center;
    grid-template: ". ."
                   ". ."
                   ". ."
                   / 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
  }

  .service-icon {
    display: inline-block;
  }

  .contact-form-grid {
    width: 80%;
    grid-row-gap: 50px;
    text-align: center;
    grid-template: "."
                   "."
                   / 1fr;
    margin-left: auto;
    margin-right: auto;
  }

  .get-in-touch-form {
    text-align: left;
  }

  .our-contacts {
    width: 80%;
    grid-template: "."
                   "."
                   "."
                   / 1fr;
    margin-left: auto;
    margin-right: auto;
  }

  .team-members {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
    align-content: center;
  }

  .team-member-title-wrap {
    margin-bottom: 30px;
  }

  .project-details-grid {
    width: 80%;
    grid-row-gap: 50px;
    text-align: center;
    grid-template: "."
                   "."
                   / 1fr;
    margin-left: auto;
    margin-right: auto;
  }

  .blog-detail-header-wrap {
    width: 70%;
  }

  .detail-header-image {
    height: 460px;
  }

  .blog-item {
    width: 80%;
  }

  .blog-preview-image {
    height: 460px;
  }

  .blog-summary-wrap {
    width: 100%;
  }

  .about-grid {
    grid-row-gap: 50px;
    text-align: center;
    grid-template: "."
                   "."
                   / 1fr;
  }

  .about-grid.cc-about-2 {
    grid-template-columns: 1fr;
    grid-template-areas: "."
                         ".";
  }

  .intro-text {
    width: auto;
  }

  .collection-wrap {
    flex-flow: column;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
  }

  .blog-preview-wrap {
    width: 80%;
    text-align: center;
    padding-right: 15px;
  }

  .container-2 {
    max-width: 728px;
  }

  .footer-content {
    grid-column-gap: 60px;
  }

  .gridimgs {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
  }

  .container-3 {
    max-width: 728px;
  }

  .features-wrapper-two {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .features-left {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .features-right {
    max-width: 100%;
  }

  .hero-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -40px;
  }

  .hero-split {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .hero-split.right {
    max-width: 80%;
  }

  .slider {
    height: 400px;
    margin-top: 92px;
  }

  .slide.capa {
    margin-top: 0;
  }

  .slide.slide2 {
    padding-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .section {
    margin-left: 15px;
    margin-right: 15px;
  }

  .section.cc-cta {
    padding: 15px;
  }

  .section.cc-home-wrap, .section.cc-store-home-wrap {
    margin-left: 15px;
    margin-right: 15px;
  }

  .container {
    text-align: center;
  }

  .paragraph-bigger {
    font-size: 16px;
    line-height: 28px;
  }

  .rich-text {
    width: 90%;
    max-width: 470px;
    text-align: left;
  }

  .heading-jumbo {
    font-size: 50px;
    line-height: 64px;
  }

  .heading-jumbo-small {
    font-size: 30px;
    line-height: 52px;
  }

  .logo-link {
    padding-left: 0;
  }

  .navigation {
    padding: 20px 30px;
  }

  .cta-wrap {
    padding-left: 30px;
    padding-right: 30px;
  }

  .intro-content {
    width: 80%;
  }

  .our-services-grid {
    grid-row-gap: 60px;
    grid-template: "."
                   "."
                   "."
                   "."
                   "."
                   "."
                   / 1fr;
  }

  .status-message.cc-no-data {
    width: 80%;
    max-width: 470px;
  }

  .contact-form-wrap {
    padding: 30px;
  }

  .text-field.cc-contact-field, .text-field.cc-textarea {
    text-align: left;
  }

  .team-pic {
    height: 300px;
    margin-bottom: 30px;
  }

  .team-member-name {
    font-size: 16px;
    line-height: 28px;
  }

  .project-name-wrap {
    margin-bottom: 30px;
  }

  .project-name-link {
    font-size: 16px;
    line-height: 28px;
  }

  .detail-image {
    margin-bottom: 15px;
  }

  .blog-detail-header-wrap {
    width: 90%;
    max-width: 470px;
    text-align: left;
  }

  .blog-item {
    width: 90%;
    max-width: 470px;
  }

  .blog-summary-wrap {
    text-align: center;
  }

  .utility-page-wrap {
    padding: 15px;
  }

  ._404-wrap {
    padding: 30px;
  }

  .about-grid {
    margin-bottom: 0;
  }

  .features-table {
    padding: 60px 15px;
  }

  .footer-dark {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer-content {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }

  .footer-block {
    align-items: center;
  }

  .footer-link:hover {
    color: rgba(26, 27, 31, .75);
  }

  .footer-social-block {
    margin-top: 20px;
    margin-left: -20px;
  }

  .footer-social-link {
    margin-left: 20px;
  }

  .footer-divider {
    margin-top: 60px;
  }

  .gridimgs {
    grid-template-columns: 1fr;
    grid-template-areas: "."
                         "."
                         "."
                         "."
                         "Area"
                         "Area-2";
  }

  .cell {
    min-height: 250px;
  }

  .features-list {
    padding: 60px 15px;
  }

  .hero-heading-right {
    padding: 10px 15px 60px;
  }

  .hero-split {
    padding-right: 0;
  }

  .hero-split.right {
    max-width: 100%;
    text-align: center;
    align-items: center;
  }

  .slider {
    height: 300px;
    margin-top: 88px;
  }

  .slide.capa {
    padding-left: 0;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 36px;
    line-height: 52px;
  }

  .rich-text {
    width: 100%;
    max-width: none;
  }

  .paragraph-light {
    font-size: 16px;
  }

  .heading-jumbo {
    font-size: 36px;
    line-height: 48px;
  }

  .heading-jumbo-small {
    font-size: 16px;
    line-height: 36px;
  }

  .menu {
    margin-left: 15px;
  }

  .navigation {
    padding: 0 20px;
  }

  .menu-button, .menu-button.w--open {
    flex: none;
  }

  .cta-wrap {
    padding-left: 15px;
    padding-right: 15px;
  }

  .intro-header.cc-subpage {
    height: 150px;
  }

  .intro-header.cc-subpage.contactimgbanner {
    height: 200px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .intro-header.cc-subpage.boardimagebanner, .intro-header.cc-subpage.o-quefazemosbanner {
    height: 200px;
    margin-bottom: 20px;
  }

  .intro-header.cc-subpage.quemsomos {
    height: 200px;
    background-size: cover;
    margin-bottom: 20px;
  }

  .section-heading-wrap {
    margin-top: 60px;
    margin-bottom: 10px;
  }

  .status-message.cc-no-data, .contact-form-grid {
    width: 100%;
  }

  .our-contacts {
    width: 90%;
  }

  .team-members {
    grid-template: "."
                   "."
                   "."
                   "."
                   "."
                   "."
                   / 1fr;
  }

  .project-details-grid {
    width: 100%;
  }

  .blog-detail-header-wrap, .blog-item {
    width: 100%;
    max-width: none;
  }

  .features-table {
    padding-top: 0;
  }

  .container-2 {
    max-width: none;
  }

  .comparison-table {
    margin-top: 0;
  }

  .comparison-row {
    grid-column-gap: 20px;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .comparison-positive {
    background-image: none;
    margin-left: 0;
    padding-left: 0;
  }

  .features-list {
    padding-top: 40px;
  }

  .container-3 {
    max-width: none;
  }

  .features-right {
    margin-bottom: -30px;
    padding-left: 0;
  }

  .features-block-two {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;
  }

  .features-image {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .heading-7 {
    text-align: center;
  }

  .hero-heading-right {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .hero-wrapper {
    align-items: center;
    margin-bottom: 0;
  }

  .hero-split {
    align-items: center;
    margin-bottom: 0;
    padding-right: 0;
  }

  .hero-split.right {
    max-width: 100%;
  }

  .slider {
    height: 80vh;
    margin-top: 0;
    display: block;
  }

  .slide.capa {
    padding-left: 0;
  }
}

#w-node-_86e64837-0616-515b-4568-76c147234d41-c732a377 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_86e64837-0616-515b-4568-76c147234d4c-c732a377, #w-node-_86e64837-0616-515b-4568-76c147234d34-c732a377 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_86e64837-0616-515b-4568-76c147234d3f-c732a377, #w-node-_7cd286a1-8e49-a7a7-3c80-93b42580ef40-c732a377 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_7cd286a1-8e49-a7a7-3c80-93b42580ef4b-c732a377 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_53ce8229-72c9-287d-c550-45bd10b64b5a-51e627e8, #w-node-_53ce8229-72c9-287d-c550-45bd10b64b6e-51e627e8 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-ca1212d8-4247-8b87-bc90-543393b118e6-c732a37f {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-ca1212d8-4247-8b87-bc90-543393b118ec-c732a37f {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-ca1212d8-4247-8b87-bc90-543393b118f2-c732a37f {
  grid-area: 1 / 3 / 2 / 4;
}

#w-node-ca1212d8-4247-8b87-bc90-543393b118f8-c732a37f {
  grid-area: 2 / 3 / 3 / 4;
}

#w-node-ca1212d8-4247-8b87-bc90-543393b118fe-c732a37f {
  grid-area: 2 / 1 / 3 / 2;
}

#w-node-ca1212d8-4247-8b87-bc90-543393b11905-c732a37f {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-c6492192-38af-3b06-d983-59501814d94f-c732a37f, #w-node-af97c770-7373-f5c7-f899-5528bde413d8-c732a37f, #w-node-c6492192-38af-3b06-d983-59501814d954-c732a37f, #w-node-_7ae88574-245f-32b4-2cae-3acb14843bf7-c732a37f, #w-node-c6492192-38af-3b06-d983-59501814d959-c732a37f, #w-node-_53141a66-6597-7424-e50c-76e5168544b4-c732a37f, #w-node-_60274281-36be-4b02-c5c1-6b1c9188e279-c732a37f {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_3f61509a-fac7-b0d5-3763-509be705858e-c732a381 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_3f61509a-fac7-b0d5-3763-509be70585a6-c732a381 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_421df62a-c217-12af-eee8-27f88a387918-c732a383 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_421df62a-c217-12af-eee8-27f88a387928-c732a383 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_421df62a-c217-12af-eee8-27f88a387918-c732a384 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_421df62a-c217-12af-eee8-27f88a387928-c732a384 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_421df62a-c217-12af-eee8-27f88a387918-c732a385 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_421df62a-c217-12af-eee8-27f88a387928-c732a385 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_8a88d5f3-bb49-0490-0026-0020a61f3c68-c732a386, #w-node-dfd070ee-89b1-22b5-831f-5b7280294120-c732a386, #w-node-_5e7d15f7-e80f-55ae-3da4-dff3934ba1d4-c732a386, #w-node-_64050844-5897-a00e-96b9-bf27d6cd7dab-c732a386, #w-node-_4acf41db-490c-9dec-6686-924783a5110d-c732a386, #w-node-_35891a82-98e5-a51e-87d3-f82c4fac33a4-c732a386 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_2878ffd7-26fe-9471-3c4e-7763e2d38cdc-c732a386 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_2878ffd7-26fe-9471-3c4e-7763e2d38ce3-c732a386 {
  grid-area: 2 / 1 / 3 / 2;
}

#w-node-_2878ffd7-26fe-9471-3c4e-7763e2d38cea-c732a386 {
  grid-area: 3 / 1 / 4 / 2;
}

#w-node-_119237f9-73c1-ccc3-4c5f-e856cc8d9863-c732a388 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_119237f9-73c1-ccc3-4c5f-e856cc8d9870-c732a388 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_119237f9-73c1-ccc3-4c5f-e856cc8d987d-c732a388 {
  grid-area: 1 / 3 / 2 / 4;
}

#w-node-c28cc763-f708-1e61-f196-6bd9fce9803c-c732a388, #w-node-c28cc763-f708-1e61-f196-6bd9fce98043-c732a388, #w-node-c28cc763-f708-1e61-f196-6bd9fce9804a-c732a388, #w-node-c28cc763-f708-1e61-f196-6bd9fce98051-c732a388 {
  justify-self: center;
}

@media screen and (max-width: 991px) {
  #w-node-_86e64837-0616-515b-4568-76c147234d41-c732a377 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-_86e64837-0616-515b-4568-76c147234d4c-c732a377 {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-_86e64837-0616-515b-4568-76c147234d34-c732a377 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-_86e64837-0616-515b-4568-76c147234d3f-c732a377 {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-_7cd286a1-8e49-a7a7-3c80-93b42580ef40-c732a377 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-_7cd286a1-8e49-a7a7-3c80-93b42580ef4b-c732a377 {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-ca1212d8-4247-8b87-bc90-543393b118f2-c732a37f {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-ca1212d8-4247-8b87-bc90-543393b118f8-c732a37f {
    grid-area: 3 / 2 / 4 / 3;
  }

  #w-node-ca1212d8-4247-8b87-bc90-543393b118fe-c732a37f {
    grid-area: 2 / 2 / 3 / 3;
  }

  #w-node-ca1212d8-4247-8b87-bc90-543393b11905-c732a37f {
    grid-area: 3 / 1 / 4 / 2;
  }

  #w-node-_3f61509a-fac7-b0d5-3763-509be70585a6-c732a381, #w-node-_421df62a-c217-12af-eee8-27f88a387928-c732a383, #w-node-_421df62a-c217-12af-eee8-27f88a387928-c732a384, #w-node-_421df62a-c217-12af-eee8-27f88a387928-c732a385, #w-node-_119237f9-73c1-ccc3-4c5f-e856cc8d9870-c732a388 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-_119237f9-73c1-ccc3-4c5f-e856cc8d987d-c732a388 {
    grid-area: 3 / 1 / 4 / 2;
  }

  #w-node-c28cc763-f708-1e61-f196-6bd9fce9804a-c732a388 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-c28cc763-f708-1e61-f196-6bd9fce98051-c732a388 {
    grid-area: 2 / 2 / 3 / 3;
  }
}

@media screen and (max-width: 767px) {
  #w-node-ca1212d8-4247-8b87-bc90-543393b118ec-c732a37f {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-ca1212d8-4247-8b87-bc90-543393b118f2-c732a37f {
    grid-area: 3 / 1 / 4 / 2;
  }

  #w-node-ca1212d8-4247-8b87-bc90-543393b118f8-c732a37f {
    grid-area: 6 / 1 / 7 / 2;
  }

  #w-node-ca1212d8-4247-8b87-bc90-543393b118fe-c732a37f {
    grid-area: 4 / 1 / 5 / 2;
  }

  #w-node-ca1212d8-4247-8b87-bc90-543393b11905-c732a37f {
    grid-area: 5 / 1 / 6 / 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-c28cc763-f708-1e61-f196-6bd9fce98043-c732a388 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-c28cc763-f708-1e61-f196-6bd9fce9804a-c732a388 {
    grid-area: 3 / 1 / 4 / 2;
  }

  #w-node-c28cc763-f708-1e61-f196-6bd9fce98051-c732a388 {
    grid-area: 4 / 1 / 5 / 2;
  }
}


@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype'), url('../fonts/OpenSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype'), url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Opensans';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}